<!--child layer-->
<div class="child_container">
  <div class="child_action_list">
    <table class="child">
      <% @thing.children.each do |m|
        #variables to determine whether user is searching, browsing, etc
        @is_match =
          (session[:search] && (m.child_matches.length>0 || m.is_match)) ||
          (session[:search]=="" || session[:search].nil?)

        if @is_match
          #for searches, only include child child_matches or children with child_matches
          %>
          <tr class="child" thing_id="<%=m.id%>">
            <td class="child" thing_id="<%=m.id%>">
              <div class="child" thing_id="<%=m.id%>">
                <%unless @hide_edits%>
                  <%=link_to_function('[d]',"delete(this)")%>
                  <%=link_to_function('[x]',"cut(this)")%>
                <%end%>
                <span thing_id="<%=m.id%>" class="nav_link">
                  <%=link_to_function m.name,"browse(this)"%>
                </span>
                <%if @is_match%>
                  <%if m.child_matches.length>0%>
                    <%="(#{m.child_matches.length.to_s}):"%>
                    <span class="prompt_link">
                      <%=link_to_function 'show',"toggle_matches(this)"%>
                    </span>
                  <%end%>
                  <div thing_id="<%=m.id%>" style="display:none">
                    <%m.child_matches.each do |chm|%>
                      <div class="child_match" thing_id="<%=m.id%>">&nbsp;&nbsp;
                        <span thing_id="<%=chm.id%>" class="nav_link">
                          <%=link_to_function chm.name,"browse(this)"%>
                        </span>
                      </div>
                    <%end%>
                  </div>
                <%end%>
              </div>
            </td>
          </tr>
        <%end%>
      <%end%>
    </table>
  </div>
</div>