<!--clip_members layer-->
  <table class="clip_members">
    <%@clip_members.each do |cm|%>
      <tr class="clip_members" thing_id="<%=cm.thing_id%>">
        <td class="clip_members" thing_id="<%=cm.thing_id%>">
          <div class="clip_members" thing_id="<%=cm.thing_id%>">
            <%=link_to_function('Paste',"paste(this)")%>
            <%=link_to_function(cm.thing.name,"browse(this)")%>
            <%=link_to_function('Cancel',"cancel(this)")%>
          </div>
        </td>
      </tr>
    <%end%>
  </table>
</div>

