<!--member layer-->
<div class="member_container">
  <div class="member_action_list">
    <table class="member">
      <% @thing.members.each do |m|%>
        <% if (!session[:search] && m.members) || (session[:search] && (m.matches.length>0 || m.is_match))
          #for searches, only include member matches or members with matches
          %>
          <tr class="member">
            <td class="member">
              <div class="member">
                <%unless (session[:search] || session[:user].id==1)%>
                  <%=link_to_remote('[d]',
                    :url=>{:action=>'delete_tag',:id=>@thing.id,:thing_id=>m.id},:method=>'post')%>
                  <%=link_to_remote('[x]',
                    :url=>{:action=>'clip_tag',:id=>@thing.id,:thing_id=>m.id, :op=>'cut'},:method=>'post')%>
                <%end%>
                <%=link_to(m.name,thing_url(:id=>m.id)) %>
                <span>
                  <%if (!session[:search] && m.members.length>0)%>
                    <%="(" + m.members.length.to_s +
                      " thing" + ("s" if m.members.length>1).to_s +
                      " )"%>
                  <%elsif session[:search] && m.matches.length>0%>
                    <%="(#{m.matches.length.to_s}):"%>
                    <%m.matches.group_by{|mm| mm.parent}.sort_by{|p,ch|
                      ch.length}.reverse.each do |p,ch|%>
                    <%=link_to(p.name,thing_url(:id=>p.id))-%>
                    <%="("%>
                    <%ch.each do |th|%>
                    <%=link_to(th.name,thing_url(:id=>th.id)) + (th==ch.last ? " );" : ',') -%>
                    <%end%>
                    <%end%>
                  <%end%>
                </span>
              </div>
            </td>
          </tr>
        <%end%>
      <%end%>
    </table>
  </div>
</div>

