<!--child layer-->
<div class="child_container">
  <div class="child_action_list">
    <table class="child">
      <% @thing.children.each do |m|
         #variables to determine whether user is searching, browsing, etc
        @is_browse = (!session[:search] && m.children)
        @is_match = (session[:search] && (m.child_matches.length>0 || m.is_match))

        if @is_browse || @is_match
          #for searches, only include child child_matches or children with child_matches
          %>
          <tr class="child" id="<%="thing_#{m.id.to_s}"%>">
            <td class="child">
              <div class="child">
                <%unless @hide_edits%>
                  <%=link_to_remote('[d]',
                    :url=>{:action=>'delete_tag',:id=>@thing.id,:thing_id=>m.id},:method=>'post')%>
                  <%=link_to_remote('[x]',
                    :url=>{:action=>'clip_tag',:id=>@thing.id,:thing_id=>m.id, :op=>'cut'},:method=>'post')%>
                <%end%>
                <%=link_to(m.name,thing_url(:id=>m.id)) %>
                <span>
                  <%if @is_browse && m.children.length>0%>
                    <%="(" + m.children.length.to_s +
                      " thing" + ("s" if m.children.length>1).to_s +
                      " )"%>
                  <%elsif @is_match%>
                    <%="(#{m.child_matches.length.to_s}):<br/>&nbsp;&nbsp;&nbsp;" if m.child_matches.length>0%>
                    <%match_array=m.child_matches.group_by{|mm| mm.parent}.sort_by{|p,ch|
                      ch.length}.reverse
                    match_array.each do |p,ch|%>
                      <%=link_to(p.name,thing_url(:id=>p.id))-%>
                      <%="("%>
                      <%ch.each do |th|%>
                        <%=link_to(th.name,thing_url(:id=>th.id,:clear_search=>true)) + (th==ch.last ? " );" + (p==match_array.last[0] ? '' : "<br/>&nbsp;&nbsp;&nbsp;") : ',') -%>
                      <%end%>
                    <%end%>
                  <%end%>
                </span>
              </div>
            </td>
          </tr>
        <%end%>
      <%end%>
    </table>
  </div>
</div>

