<!--user layer-->
<div class="user_wrapper" id="user_wrapper">
  <%=render :file=>'users/login'%>
</div>
<!-- path layer -->
<div class="path">
  <div class="target_group" id="path_wrapper">
    <%=render :partial=>'path'%>
  </div>
</div>
<!--search layer-->
<%form_tag('javascript:void(0)') do%>
  <div class="search">
    <p><span>Search</span>
      <%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none; float:right;"%>
      <%=text_field(:thing,:search, :size=>10)-%>
      <%=button_to_function('Clr',clear_field_and_focus('thing_search'),
        :id=>'clear_search_button',:style=>('display:none' unless session[:search]))%>
      </p>
  </div>
<%end-%>
<%=render :partial=>'add_tag' unless session[:search]-%>
<div class="clip_members" id="clip_member_wrapper">
<%=render :partial=>'clip_members' unless session[:search]-%>
</div>
<div id="member_and_tag_wrapper">
  <%=render :file=>'things/retrieve'%>
</div>
<%= observe_field :thing_search,
  :frequency => 0.5,
  :before=> "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :url => {:action=>'retrieve'},
  :with => "'thing[search]=' + encodeURIComponent(value)"%>
<%if session[:search]%>
  <%=set_focus_to_id('thing_search')%>
<%else%>
  <%=set_focus_to_id('thing_key')%>
<%end%>

