  <p style="color: green"><%=flash[:notice]%></p>
  <!-- path layer -->
  <div class="path">
    <%
    #make a drop-down for the path
    parent_nodes=@thing.parent_nodes.collect{|n| [n.th.name,n]}.reverse
  %>
    <%form_tag(things_url,{:method=>'get'}) do%>
      <%=select('thing','id', parent_nodes,{},{:onchange=>"$(this).up('form').submit()"} ) if parent_nodes.last
      #clicking on form items or clicking Go submits and loads item
      %>
      <%=submit_tag("Go") if parent_nodes.last%>
    <%end-%>
    <div class="target"><%=h @thing.name -%></div>
  </div>
  <!--search layer-->
  <%form_tag('javascript:void(0)') do%>
    <div class="search">
      <p><span>Search</span>
      <%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none; float:right;"%>
      <%=text_field(:thing,:search, :size=>20)-%></p>
    </div>
  <%end-%>
  <%=render :partial=>'members'-%>
  <%=render :partial=>'tag_list'-%>
  <%= observe_field :thing_search,
    :frequency => 0.5,
    :update => 'member_wrapper',
    :before=> "Element.show('spinner')",
    :complete => "Element.hide('spinner')",
    :url => {:action=>'retrieve'},
    :with => "'thing[search]=' + encodeURIComponent(value)"%>
  <%if session[:mode]=='edit'%>
  <%=set_focus_to_id('thing_key')%>
  <%elsif session[:mode]=='show'%>
  <%=set_focus_to_id('thing_search')%>
  <%end%>

