<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Inscryb</title>
    <%= stylesheet_link_tag "main", :media => "all" %>
    <%= javascript_include_tag :defaults%>
  </head>
  <body>
    <div class="dialog" id="dialog">
      <!-- controls layer -->
      <div class="controls">
        <span class="actions"><%= link_to_remote "Actions", :update=>'actions', :url=>thing_url(:id=>@thing[:id])%></span>
        <span class="edit">
          <%if session[:mode]=='show'%>
            <%=link_to("Edit",edit_thing_url(:id=>@thing[:id]))-%>
          <%elsif session[:mode]=='edit'%>
            <%=link_to("Done",thing_url(:id=>@thing[:id],:mode=>'show'))-%>
          <%end%>
        </span>
      </div>
      <!-- path layer -->
      <div class="path">
<%
#make a drop-down for the path
path_nodes=@thing[:path][0..-2].collect{|thp| [thp[:name],thp[:id]]}.reverse
%>
<%form_tag(thing_url(@thing[:id]),{:method=>'get'}) do%>
<%=select('thing','id', path_nodes,{},{:onchange=>"$(this).up('form').submit()"} )
#clicking on form items or clicking Go submits and loads item
%>
<%=submit_tag("Go")%>
<%end-%>
<div class="target"><%=h @thing[:path].last[:name] -%></div>
      </div>
      <!--main view-->
      <%=yield %>
      <%=render :partial=>'members'-%>
      <%=render :partial=>'tag_list'-%>
    </div>
  </body>
</html>